/* project global css. */

/* common page transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* pointer to "cursor" */
.pointer {
  cursor: pointer;
}

/* add underline to text */
.underline:hover {
  text-decoration: underline;
}