/* project global css. */

/* common page transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.15s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* components transition (* specify name='fade' to the transition-tag you want to use this. ) */
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* pointer to "cursor" */
.pointer {
  cursor: pointer;
}

/* add underline to text */
.underline:hover {
  text-decoration: underline;
}

/* For the bug with using Safari */
.v-btn--disabled {
  pointer-events: unset !important;
  cursor: default;
}